<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :physician %><br />
    <%= f.text_field :physician %>
  </div>
  <ul class="field">
    <li class="inline"><%= f.check_box :registered %></li>
    <li class="inline"><%= f.label :registered %></li>    
  </ul>
  <ul class="field">
    <li class="inline"><%= f.check_box :copay_paid %></li>
    <li class="inline"><%= f.label :copay_paid %></li>
  </ul>
  <ul class="field">
    <li class="inline"><%= f.check_box :insurance_verified %></li>
    <li class="inline"><%= f.label :insurance_verified %></li>
  </ul>
  
  <!--<div class="field">
    <%#= f.label :scheduled_time %><br />
    <%#= f.datetime_select :scheduled_time %>
  </div>
  <div class="field">
    <%#= f.label :arrival_time %><br />
    <%#= f.datetime_select :arrival_time %>
  </div>
  <div class="field">
    <%#= f.label :arrival_status %><br />
    <%#= f.datetime_select :arrival_status %>
  </div> --> 

  <ul class="inline-list">
      <h4>Appointment Date</h4>

  <!-- MONTH -->
      <li>
        <strong>Month</strong></br />
        <select id="patient_scheduled_time_2i" name="patient[scheduled_time(2i)]" class="span2">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </li>

    <!-- DAY -->
      <li>
        <strong>Day</strong></br />
        <select id="patient_scheduled_time_3i" name="patient[scheduled_time(3i)]" class="span2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </li>
      <li>
        <!-- YEAR -->
          <strong>Year</strong></br />
          <select id="patient_scheduled_time_1i" name="patient[scheduled_time(1i)]" class="span2">
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
          </select>
      </li>
    </ul>
    <ul class="inline-list">
      <h4>Appointment Time</h4>

      <!-- HOUR -->
      <li>
        <strong>Hour</strong></br />
        <select id="patient_scheduled_time_4i" name="patient[scheduled_time(4i)]" class="span2">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </li>

      <!-- MINUTE -->
      <li>
        <strong>Minute</strong></br />
        <select id="patient_scheduled_time_5i" name="patient[scheduled_time(5i)]" class="span2">
          <option value="00">00</option>
          
          <option value="15">15</option>
          
          <option value="30">30</option>
          
          <option value="45">45</option>
          
        </select>
      </li>
    </ul>


  <!-- Appointments fields
  <%#= f.fields_for :appointments, @patient.appointments do |builder| %>
    <ul class="inline-list">
        <h4>Appointment Date</h4>
      <li>
        <%#= builder.label "Appointment time" %>
        <%#= builder.datetime_select :scheduled_time %>
      </li>      
      </ul>
    <%# end %> -->
  
  <div class="actions">
    <%= f.submit "Save Appointment", class: "btn btn-success" %>
  </div>
<% end %>
