<h1>Patient List</h1>

<% @patients.each do |patient| %>

<div class="patient-card">
    <div class="patient-avatar left">
        <strong>Signed In?</strong> <%= patient.arrived %>
    </div>

    <table>    

        <tr>
            <td>
                <strong><%= patient.name %></strong>
            </td>
            <td>
                <strong>Language:</strong> <%= patient.language %>
            </td>
            <td>
                <strong>Physician:</strong> <%= patient.physician %>
            </td>
        </tr>
        <tr>       
            <td>
                <strong>Scheduled time</strong> <%= patient.scheduled_time %>
            </td>
            <td>
                <strong>Arrival time</strong> <%= patient.arrival_time %>
            </td>        
            <td>
                <strong>Arrival status</strong> <%= patient.arrival_status %>
            </td>   
          </tr>
          <tr>
            
            <td>
                <strong>Registered</strong>
                <a data-toggle="modal" href="#registerModal"><%= patient.registered %></a>

                <%= render 'register_modal' %>
                
            </td>
            <td>
                <strong>Insurance verified</strong>
                <a data-toggle="modal" href="#insuranceModal"><%= patient.insurance_verified %></a>
                
                <%= render 'insurance_modal' %>

            </td>
            <td class="dropdown">
                <strong>Copay paid</strong>
                <a data-toggle="modal" href="#copayModal"><%= patient.copay_paid %></a>
                
                <%= render 'copay_modal' %>


            </td>            
        </tr>            
    </table>

    <div>
        <%= link_to 'Show', patient %>
        <%= link_to 'Edit', edit_patient_path(patient) %>
        <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>

<% end %>

<br />

<%= link_to 'New Patient', new_patient_path %>
