<!DOCTYPE html>
<html>
<head>
  <title>DoctorPortal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span3" data-spy="affix" data-offset-top="200">
				<%= render 'calendar' %>				
			</div>
			<div class="span3 pull-left"></div>
			<div class="span9">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
